.header_section{
    text-align: center;
    border-bottom: 3px solid black;
    font-size: xx-large;
}

.affinage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    margin: 0;
}

.recherche{
    margin-right: 2%;
    display: flex;
}

.container_fromage{ /* Css de la liste de fromage */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.form_detail{
    display: flex;
    width: 95%;
}

.form_favoris{
    margin: 1%;
    display: flex;
    align-items: center;
    width: 5%;
}

.fromage{ /* Css d'un élément fromage de la liste */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}

.button_detail{
    width: 100%;
    background-color: #fff;
    border: none;
}

.fromage img{
    height: 10em;
    width: 12em;
}

.fromage form i{
    font-size: 260%;
}

.fromage h1{
    font-size: 300%;
}

.global_container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fromage_container{
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    margin: 1%;
}

/* Favoris */

#button_favoris{
    height: 30%;
    width: 100%;
    background-color: #fff;
    border: none;
}

#image_favoris{
    height: 100%;
    width: 100%;
}